* { margin: 0; padding: 0; }

.content-aside { padding: 0 14px; text-shadow: 1px 1px 0 white; }
.content-aside h3 { font-weight: normal; font-size: 16px; color: #434343; margin-bottom: 14px; }
.content-aside ul { list-style: none; color: #6c6c6c; font-size: 13px; border-bottom: 1px solid #cecece; box-shadow: 0 1px 0 white; margin: 0 -14px; padding: 0 14px; margin-bottom: 12px; padding-bottom: 9px; }
.content-aside ul li { margin-bottom: 8px; padding-left: 12px; position: relative; }
.content-aside ul li:before { position: absolute; content: " "; left: 0; top: 0.4em; width: 4px; height: 4px; border-radius: 50%; display: inline-block; background: #6c6c6c; box-shadow: 1px 1px 0 white; }
.content-aside ul li a { color: #6d6d6d; text-decoration: none; }
.content-aside ul li a.is-active { position: relative; color: #99c047; text-shadow: none; }
.content-aside ul li a.is-active:before { position: absolute; left: -24px; background: url(../img/menu-active.png) no-repeat 0 0; width: 20px; height: 12px; top: 2px; content: " "; }

.special-deals { padding: 14px; font-family: "PF Din Text Cond Pro", sans-serif; }
.special-deals h2 { font-size: 26px; font-weight: normal; color: #787878; text-shadow: 1px 1px 0 white; margin-bottom: 28px; }

.differ { border-top: 1px solid #cecece; border-bottom: 1px solid #cecece; margin-bottom: 30px; margin: 0 -14px 30px -14px; padding: 20px 14px 0 14px; }
.differ dt { color: #787878; font-size: 20px; margin-bottom: 10px; }
.differ dd { display: inline-block; width: 45%; margin-right: 2%; vertical-align: top; font-size: 14px; color: #787878; line-height: 1.4; position: relative; margin-bottom: 17px; }
.differ dd a { color: #9bc122; }
.differ .differ__content { padding-left: 66px; }
.differ .differ__icon { position: absolute; left: 4px; top: 5px; width: 72px; height: 57px; }
.differ .differ__icon.differ__icon_1 { background: url(../img/icon1.png) no-repeat 0 0; }
.differ .differ__icon.differ__icon_2 { background: url(../img/icon2.png) no-repeat 0 0; }
.differ .differ__icon.differ__icon_3 { background: url(../img/icon3.png) no-repeat 0 0; }
.differ .differ__icon.differ__icon_4 { background: url(../img/icon4.png) no-repeat 0 0; }

.banner { background: white; position: relative; margin: 0 -14px 30px -14px; padding: 12px 12px 12px 97px; overflow: hidden; border-top: 1px solid #cecece; border-bottom: 1px solid #cecece; }
.banner .banner__icon { position: absolute; top: 0; bottom: 0; background: #99c047; left: 0; width: 80px; }
.banner .banner__icon:before { position: absolute; content: " "; left: 24px; top: 24px; width: 32px; height: 32px; background: url(../img/thumbsup.png) no-repeat 0 0; }
.banner .banner__text { font-size: 20px; color: #787878; line-height: 1.4; margin-bottom: 17px; }
.banner .banner__more { background: #ef9037; padding: 7px 16px; font-size: 14px; float: right; white-space: nowrap; line-height: 1; color: white; }
.banner .banner__more a { color: white; }
