* { margin: 0; padding: 0; }

.content-aside { padding: 0 14px; text-shadow: 1px 1px 0 white; }
.content-aside h3 { font-weight: normal; font-size: 16px; color: #434343; margin-bottom: 14px; }
.content-aside ul { list-style: none; color: #6c6c6c; font-size: 13px; border-bottom: 1px solid #cecece; box-shadow: 0 1px 0 white; margin: 0 -14px; padding: 0 14px; margin-bottom: 12px; padding-bottom: 9px; }
.content-aside ul li { margin-bottom: 8px; padding-left: 12px; position: relative; }
.content-aside ul li:before { position: absolute; content: " "; left: 0; top: 0.4em; width: 4px; height: 4px; border-radius: 50%; display: inline-block; background: #6c6c6c; box-shadow: 1px 1px 0 white; }
.content-aside ul li a { color: #6d6d6d; text-decoration: none; }
.content-aside ul li a.is-active { position: relative; color: #99c047; text-shadow: none; }
.content-aside ul li a.is-active:before { position: absolute; left: -24px; background: url(../img/menu-active.png) no-repeat 0 0; width: 20px; height: 12px; top: 2px; content: " "; }

.special-deals { padding: 14px; font-family: "PF Din Text Cond Pro", sans-serif; }
.special-deals h2 { font-size: 26px; font-weight: normal; color: #787878; text-shadow: 1px 1px 0 white; margin-bottom: 28px; }

.differ { border-top: 1px solid #cecece; border-bottom: 1px solid #cecece; margin-bottom: 30px; margin: 0 -14px 30px -14px; padding: 20px 14px 0 14px; }
.differ dt { color: #ec9214; font-size: 20px; margin-bottom: 10px; }
.differ dd { display: inline-block; width: 45%; margin-right: 2%; vertical-align: top; font-size: 14px; color: #787878; line-height: 1.4; position: relative; margin-bottom: 17px; font-size: 13px; }
.differ dd a { color: #9bc122; }
.differ .differ__content { padding-left: 66px; }
.differ .differ__icon { position: absolute; left: 4px; top: 5px; width: 72px; height: 57px; }
.differ .differ__icon.differ__icon_1 { background: url(../img/icon1.png) no-repeat 0 0; }
.differ .differ__icon.differ__icon_2 { background: url(../img/icon2.png) no-repeat 0 0; }
.differ .differ__icon.differ__icon_3 { background: url(../img/icon3.png) no-repeat 0 0; }
.differ .differ__icon.differ__icon_4 { background: url(../img/icon4.png) no-repeat 0 0; }

.banner { background: white; position: relative; margin: 0 -14px 30px -14px; padding: 12px 12px 12px 97px; overflow: hidden; border-top: 1px solid #cecece; border-bottom: 1px solid #cecece; }
.banner .banner__icon { position: absolute; top: 0; bottom: 0; background: #99c047; left: 0; width: 80px; }
.banner .banner__icon:before { position: absolute; content: " "; left: 24px; top: 24px; width: 32px; height: 32px; background: url(../img/thumbsup.png) no-repeat 0 0; }
.banner .banner__icon_divan:before { width: 48px; height: 24px; left: 17px; background: url(../img/divan.png) no-repeat 0 0; }
.banner .banner__text { font-size: 20px; color: #787878; line-height: 1.4; margin-bottom: 17px; }
.banner .banner__more { background: #ef9037; padding: 7px 16px; font-size: 14px; float: right; white-space: nowrap; line-height: 1; color: white; }
.banner .banner__more a { color: white; }

.info-razdel h2 { font-size: 26px; font-weight: normal; color: #787878; text-shadow: 1px 1px 0 white; margin-bottom: 28px; }

.info-razdel, .feedback, .howtotrip, .stuff, .possible, .clients, .addresses, .slider, .about-propose, .options, .options-popup, .faq-popup, .hotels_item, .hotels__info, .about, .payment { padding: 14px; font-family: "PF Din Text Cond Pro", sans-serif; }
.info-razdel h3, .feedback h3, .howtotrip h3, .stuff h3, .possible h3, .clients h3, .addresses h3, .slider h3, .about-propose h3, .options h3, .options-popup h3, .faq-popup h3, .hotels_item h3, .hotels__info h3, .about h3, .payment h3 { color: #787878; font-size: 20px; margin-bottom: 10px; font-weight: normal; }

.feedback { position: relative; }
.feedback h3 { margin-bottom: 15px; }
.feedback .feedback__nav { position: absolute; right: 15px; top: 12px; text-align: right; }
.feedback .feedback__nav .feedback__sep { height: 32px; border-right: 1px solid #d8d8d8; box-shadow: 1px 0 0 white; display: inline-block; vertical-align: middle; }
.feedback .feedback__nav .feedback__prev, .feedback .feedback__nav .feedback__next { background: url(../img/arr-left.png) no-repeat 0 0; width: 20px; height: 17px; display: inline-block; vertical-align: middle; margin: 0 4px; cursor: pointer; }
.feedback .feedback__nav .feedback__next { background: url(../img/arr-right.png) no-repeat 0 0; }
.feedback .feedback__item { margin: 0 -14px; background: white; border-bottom: 1px solid #cecece; overflow: hidden; }
.feedback .feedback__item .feedback__date { background: #434343; height: 31px; line-height: 31px; padding-left: 14px; color: #b2b2b2; font-size: 14px; }
.feedback .feedback__content { width: 544px; float: left; padding: 14px; }
.feedback .feedback__content .feedback__userav { float: left; margin-right: 15px; }
.feedback .feedback__content .feedback__userav img { border-radius: 80px; }
.feedback .feedback__content .feedback__c { overflow: hidden; font-size: 14px; color: #787878; line-height: 1.4; border-right: 1px solid #d8d8d8; padding-right: 20px; }
.feedback .feedback__content .feedback__c p { margin-bottom: 0.9em; }
.feedback .feedback__content .feedback__c a { color: #ec9214; }
.feedback .feedback__content .feedback__c .feedback__username { font-size: 16px; font-weight: normal; margin-bottom: 3px; }
.feedback .feedback__content .feedback__c .feedback__username a { color: #9bc122; }
.feedback .feedback__content .feedback__c .feedback__userinfo { font-size: 14px; color: #b1b1b1; margin-bottom: 10px; }
.feedback .feedback__meta { float: right; width: 160px; padding: 14px; font-size: 14px; color: #787878; line-height: 1.4; }
.feedback .feedback__meta .feedback__client { margin-bottom: 20px; font-size: 14px; color: #9bc122; text-decoration: none; display: inline-block; padding: 10px; border: 1px solid #85c13e; }

.howtotrip .howtotrip__steps { margin: 0 -14px; background: white; border-bottom: 1px solid #cecece; border-top: 1px solid #cecece; overflow: hidden; }
.howtotrip .howtotrip__step { position: relative; margin-left: 65px; float: left; width: 200px; font-size: 14px; color: #787878; line-height: 1.3; padding: 15px 0; }
.howtotrip .howtotrip__step.howtotrip__3, .howtotrip .howtotrip__step.howtotrip__2 { width: 150px; margin-left: 90px; }
.howtotrip .howtotrip__step.howtotrip__2, .howtotrip .howtotrip__step.howtotrip__3 { padding-left: 0px; }
.howtotrip .howtotrip__step.howtotrip__2:before, .howtotrip .howtotrip__step.howtotrip__3:before { content: " "; height: 300px; width: 30px; position: absolute; left: -70px; top: 0; background: url(../img/arr.png) no-repeat 0 0; }
.howtotrip .howtotrip__step a { color: #99c047; }
.howtotrip .howtotrip__step i { font-style: normal; position: absolute; left: -47px; top: 15px; font-size: 18px; width: 32px; height: 32px; text-align: center; line-height: 32px; color: white; display: inline-block; background: #ef9037; }

.stuff { font-size: 0; }
.stuff h3 { border-bottom: 1px solid #cecece; padding-bottom: 10px; margin-left: -14px; padding-left: 14px; position: relative; margin-bottom: 20px; }
.stuff .stuff__member { display: inline-block; width: 31%; padding-right: 2%; vertical-align: top; margin-bottom: 20px; }
.stuff .stuff__member .stuff__av { display: inline-block; vertical-align: middle; margin-right: 12px; }
.stuff .stuff__member .stuff__av img { border-radius: 100px; }
.stuff .stuff__member .stuff__info { display: inline-block; vertical-align: middle; width: 126px; }
.stuff .stuff__member .stuff__name { font-size: 16px; color: #787878; display: inline-block; font-weight: normal; }
.stuff .stuff__member .stuff__position { font-size: 14px; color: #b1b1b1; padding-top: 4px; }

.possible .possible__item { margin-bottom: 16px; margin-left: -14px; margin-right: -14px; overflow: hidden; background: white; border-bottom: 1px solid #cecece; }
.possible .possible__item .possible__pic { float: left; margin-right: 16px; }
.possible .possible__item .possible__pic img { display: block; }
.possible .possible__item .possible__title { font-size: 16px; padding: 8px 0; background: #434343; }
.possible .possible__item .possible__title a { color: #9bc122; }
.possible .possible__item .possible__content { padding-top: 10px; padding-right: 10px; padding-bottom: 10px; font-size: 14px; color: #787878; line-height: 1.3; }

.client { margin-bottom: 15px; background: white; border-bottom: 1px solid #cecece; margin-left: -14px; margin-right: -14px; }
.client .client__top { height: 32px; background: #d7d7d7; padding-right: 207px; }
.client .client__topin { background: #99c047; height: 32px; line-height: 32px; font-size: 14px; color: white; position: relative; padding-left: 16px; }
.client .client__topin a { color: white; }
.client .client__topin .client__name { position: absolute; right: 4px; top: 0px; height: 32px; line-height: 32px; }
.client .client__content { padding: 14px; }
.client .client__content .client__av { float: left; margin-right: 15px; }
.client .client__content .client__av img { border-radius: 80px; }
.client .client__message { display: table; padding: 15px; border: 1px dashed #d8d8d8; font-size: 14px; color: #787878; border-radius: 20px; position: relative; }
.client .client__message:before { content: " "; position: absolute; left: -9px; width: 9px; height: 18px; background: white url(../img/client.png) no-repeat 0 0; }
.client .client__message a { color: #ec9214; }
.client .client__message .client__title { font-size: 16px; font-weight: normal; color: #9bc122; margin-bottom: 1em; }
.client .client__message .client__title a { color: #9bc122; }

.switcher { list-style: none; overflow: hidden; background: #414141; margin: 20px -14px 24px -14px; }
.switcher li { float: left; }
.switcher a { float: left; height: 38px; line-height: 38px; padding: 0 14px; font-size: 15px; text-decoration: none; color: #d7d7d7; }
.switcher a.is-active { color: white; background: #ef9037; }

.more { text-align: right; font-size: 14px; margin-top: 10px; }
.more a { color: #ec9214; }

.switchers { overflow: hidden; background: #414141; margin: 20px -14px 0px -14px; }
.switchers .switcher { float: left; margin: 0; }
.switchers .switcher li a:before { content: " "; height: 25px; position: absolute; top: 6px; left: 0; border-left: 1px solid #b2b2b2; }
.switchers .switcher li a.is-active:before { display: none; }
.switchers .switcher li:first-child a:before { display: none; }
.switchers .switcher_right { float: right; }
.switchers .switcher_right li { float: right; position: relative; }
.switchers .switcher_right li:last-child a:before { display: none; }

.adres-wrap { background: white; border-bottom: 1px solid #cecece; margin: 0 -14px 30px -14px; }

.adres { padding: 20px 14px; overflow: hidden; position: relative; }
.adres:before { content: " "; position: absolute; bottom: 0; left: 14px; right: 14px; border-top: 1px solid #cecece; }
.adres:last-child:before { display: none; }
.adres .adres__title { font-size: 20px; color: #414141; font-weight: normal; margin-bottom: 25px; }
.adres .adres__metro { float: right; width: 200px; text-align: right; font-size: 20px; color: #414141; white-space: nowrap; }
.adres .adres__metro .adres__metrocolor { border: 2px solid #414141; height: 16px; width: 16px; border-radius: 16px; display: inline-block; background: #279757; vertical-align: middle; margin-right: 8px; position: relative; top: -1px; }
.adres .adres__adres { float: left; width: 270px; margin-right: 15px; font-size: 16px; }
.adres .adres__adres dl { margin-bottom: 1em; position: relative; line-height: 1.4; }
.adres .adres__adres dl dt { width: 92px; float: left; color: #787878; }
.adres .adres__adres dl dd { color: #414141; overflow: hidden; }
.adres .adres__descr { overflow: hidden; font-size: 16px; color: #787878; line-height: 1.4; }
.adres .adres__descr p { margin-bottom: 1em; }

.wrapper-slider { overflow: hidden; }

.slider { position: relative; color: #787878; }
.slider .slider__head { font-size: 26px; }
.slider p { font-size: 14px; }
.slider img { margin: 16px -14px 0; }

.slider__info { overflow: hidden; position: absolute; right: 0; bottom: 42px; width: 525px; padding: 14px; background: #ec9214; color: white; list-style-type: none; }
.slider__info li { display: inline-block; vertical-align: top; }
.slider__info .slider__tour-place { width: 96px; padding-left: 32px; background: url(../img/icon10.png) 15% 15% no-repeat; }
.slider__info .slider__days-left { width: 112px; }
.slider__info .slider__tour-number { width: 128px; }
.slider__info .slider__tour-price { width: 112px; padding-left: 32px; line-height: 36px; font-size: 28px; background: url(../img/icon11.png) 4% 38% no-repeat; }
.slider__info .slider__tour-price span { position: relative; right: -5px; font-size: 10px; border-top: 1px solid white; }
.slider__info .slider__tour-price span i { position: absolute; top: -26px; right: 0; }

.slider__social { overflow: hidden; display: inline-block; width: 288px; height: 32px; padding-left: 32px; line-height: 32px; vertical-align: top; background: url(../img/icon5.png) 0 0 no-repeat; color: #b0afae; }
.slider__social p { float: left; margin-right: 10px; }
.slider__social li { display: inline-block; padding-top: 6px; }

.slider__participant { background: url(../img/icon6.png) 0 0 no-repeat; }

.vk, .f, .twitter, .google, .linkedin { display: block; width: 16px; height: 17px; }

.vk { background: url(../img/vk.png) no-repeat; }

.f { background: url(../img/f.png) no-repeat; }

.twitter { background: url(../img/twitter.png) no-repeat; }

.google { background: url(../img/google.png) no-repeat; }

.linkedin { background: url(../img/linkedin.png) no-repeat; }

.about-propose { position: relative; overflow: hidden; margin-top: 20px; border: 1px solid #d7d7d7; background: white; font-size: 16px; color: #787878; }
.about-propose h3 { margin: 0 -14px; padding-left: 14px; color: #434343; line-height: 46px; border-bottom: 1px solid #d7d7d7; }
.about-propose article { font-size: 14px; }
.about-propose article p { margin-top: 20px; }

.about-propose__list { float: left; width: 496px; list-style-type: none; font-size: 16px; color: #787878; }
.about-propose__list .about-propose__item { border-top: 1px solid #ececec; line-height: 46px; }
.about-propose__list .about-propose__item span { color: black; }
.about-propose__list .about-propose__item:first-child { border-top: none; }

.tour-components { list-style-type: none; }
.tour-components li { padding-left: 29px; line-height: 30px; }
.tour-components li a { color: inherit; }
.tour-components li i { border-bottom: 1px dashed #787878; cursor: pointer; font-style: normal; }
.tour-components .tour-components__fly { background: url(../img/icon8.png) 0 50% no-repeat; }
.tour-components .tour-components__living { background: url(../img/icon7.png) 0 50% no-repeat; }
.tour-components .tour-components__other { background: url(../img/icon9.png) 0 50% no-repeat; }

.about-propose__price { float: left; width: 180px; padding: 14px; margin-left: 18px; }

.about-propose__more { position: absolute; right: 16px; bottom: 16px; color: #99c047; }

.options { position: relative; width: 242px; border: 1px solid #cdcdcd; background: url(../img/options-bg.png); }
.options .wrapper-option_add { text-align: right; }
.options .option_add { border: none; background: transparent; color: #9bc122; border-bottom: 1px dashed #9bc122; cursor: pointer; }

.options__item { position: relative; padding: 0 14px 0 10px; height: 30px; line-height: 30px; margin-bottom: 16px; font-size: 16px; color: #787878; border: 1px solid #cdcdcd; background: white; }
.options__item span { color: #434343; }
.options__item i { position: absolute; right: 8px; top: 50%; width: 16px; height: 16px; margin-top: -8px; cursor: pointer; background: url(../img/arr-down.png) 50% 50% no-repeat; }
.options__item .options__cancel { content: ""; position: absolute; top: -1px; right: -32px; width: 32px; height: 32px; background: #cdcdcd url(../img/close.png) 50% 50% no-repeat; cursor: pointer; }

.options__price { overflow: hidden; margin: 10px 0 20px; }

.options__text, .options__figure { width: 50%; float: left; }
.options__text p, .options__figure p { font-size: 14px; color: #787878; }
.options__text p:first-child, .options__figure p:first-child { margin-top: 10px; font-size: 28px; color: #434343; }

.options__figure { text-align: right; }
.options__figure p:first-child { font-size: 27px; color: #ec9214; }
.options__figure p:first-child span { font-size: 14px; }

.wrapper-order-btn { text-align: right; }

.order-btn { height: 40px; padding: 0 16px 0 32px; border: none; background: #ec9214 url(../img/arr-right.png) 5% 50% no-repeat; font-size: 20px; cursor: pointer; color: white; }

.options__want-same { position: absolute; left: -1px; bottom: -61px; width: 208px; height: 60px; line-height: 60px; padding-left: 64px; background: #9bc122 url(../img/star.png) 8% 48% no-repeat; font-size: 18px; text-decoration: none; color: white; }

.options-popup { display: none; position: absolute; top: -1px; left: -1px; width: 242px; border: 1px solid #cdcdcd; background: url(../img/options-bg.png); -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
.options-popup h3 { display: inline-block; border-bottom: 1px dashed #cdcdcd; cursor: pointer; }
.options-popup p { font-size: 14px; color: #787878; }
.options-popup .options-popup__close { position: absolute; top: 21px; right: 14px; width: 11px; height: 10px; border: none; background: url(../img/close2.png) no-repeat; cursor: pointer; }
.options-popup textarea { width: 230px; max-width: 230px; height: 108px; max-height: 108px; margin-top: 14px; padding: 5px; border: 1px solid #d7d7d7; font-size: 18px; color: #b1b1b1; outline: none; }
.options-popup input[type=text] { width: 204px; padding: 0 5px 0 31px; line-height: 28px; margin-top: 14px; font-size: 18px; color: #b1b1b1; border: 1px solid #d7d7d7; outline: none; }

.options-popup__submit { text-align: right; }
.options-popup__submit input[type=submit] { height: 40px; line-height: 40px; padding: 0 16px 0 40px; margin-top: 14px; border: none; font-size: 20px; color: white; background: #ec9214 url(../img/arr-right.png) 18px 50% no-repeat; cursor: pointer; }
.options-popup__submit .options-popup__popup { position: absolute; left: 16px; bottom: -10px; width: 0; height: 0; border-style: solid; border-width: 10px 16px 0 16px; border-color: #e6e6e6 transparent transparent transparent; }

.options-popup__name { background: white url(../img/name.png) 6px 50% no-repeat; }

.options-popup__email { background: white url(../img/email.png) 6px 50% no-repeat; }

.options-popup__phone { background: white url(../img/phone.png) 6px 50% no-repeat; }

.about-propose_faq { overflow: visible; }

.faq { padding: 14px 0; }

.order-btn_faq { font-size: 14px; }

.faq__nav { position: absolute; right: 15px; top: 75px; text-align: right; }
.faq__nav .faq__sep { height: 28px; border-right: 1px solid #d8d8d8; box-shadow: 1px 0 0 white; display: inline-block; vertical-align: middle; }
.faq__nav .faq__prev, .faq__nav .faq__next { background: url(../img/arr-left.png) no-repeat 0 0; width: 20px; height: 17px; display: inline-block; vertical-align: middle; margin: 0 4px; cursor: pointer; }
.faq__nav .faq__next { background: url(../img/arr-right.png) no-repeat 0 0; }

.faq__question, .faq__answer { margin: 20px 0; }
.faq__question span:first-child, .faq__answer span:first-child { color: black; }

.faq__answer span:first-child { color: #ec9214; }

.faq-popup { display: none; position: absolute; top: 75px; left: 14px; width: 628px; border: 1px solid #cdcdcd; background: url(../img/options-bg.png); }
.faq-popup h3 { font-size: 18px; }
.faq-popup form { overflow: hidden; }
.faq-popup textarea { float: left; width: 358px; max-width: 358px; height: 63px; max-height: 63px; margin: 14px 16px 0 0; padding: 5px; border: 1px solid #d7d7d7; font-size: 18px; color: #b1b1b1; outline: none; }
.faq-popup .faq-popup__input { float: left; width: 242px; }
.faq-popup .faq-popup__input input[type=text] { width: 204px; padding: 0 5px 0 31px; line-height: 28px; margin-top: 14px; font-size: 18px; color: #b1b1b1; border: 1px solid #d7d7d7; outline: none; }

.faq-popup__close { position: absolute; top: 21px; right: 14px; width: 11px; height: 10px; border: none; background: url(../img/close2.png) no-repeat; cursor: pointer; }

.faq-popup__submit { text-align: right; }
.faq-popup__submit input { height: 32px; line-height: 32px; padding: 0 16px; margin-top: 16px; border: none; font-size: 14px; color: white; background: #9bc122; cursor: pointer; }

.hotels { margin: 16px 0; }

.hotels__title { overflow: hidden; padding: 16px 0; }
.hotels__title h3 { float: left; font-size: 20px; font-weight: normal; color: #434343; }
.hotels__title a { float: right; margin-right: 16px; font-size: 14px; color: #9bc122; }

.hotels__content { position: relative; overflow: hidden; border-left: 1px solid #9bc122; }

.hotels__tabs { float: left; width: 240px; padding: 18px 0; }

.hotels_item { font-size: 16px; border-top: 1px solid #d7d7d7; color: #787878; cursor: pointer; }
.hotels_item p { margin-bottom: 16px; }

.hotels__rating { font-size: 16px; color: #787878; padding-left: 21px; background: url(../img/like-green.png) 5px 7px no-repeat; }
.hotels__rating span { font-size: 20px; color: #9bc122; }

.hotels_item.is-active { position: relative; width: 212px; height: 80px; margin-bottom: -1px; border-top: 1px solid #9bc122; border-bottom: 1px solid #9bc122; border-right: 1px solid white; background: white; }

.hotels__prev, .hotels__next { position: absolute; left: 5px; width: 230px; height: 14px; }

.hotels__prev { top: 0; background: #ec9214 url(../img/top.png) 50% 50% no-repeat; }

.hotels__next { bottom: 0; background: #ec9214 url(../img/bottom.png) 50% 50% no-repeat; }

.hotels__info { float: left; width: 481px; height: 757px; border: 1px solid #9bc122; background: white; }

.gallary-hotel { margin-bottom: 35px; }
.gallary-hotel a { color: #9bc122; }

.gallary-hotel__nav { list-style-type: none; }
.gallary-hotel__nav li { display: inline-block; width: 79px; height: 64px; margin-left: -3px; background: #ec9214; cursor: pointer; }
.gallary-hotel__nav li:first-child { margin-left: 0; }
.gallary-hotel__nav .gallary-hotel__more { padding: 10px; width: 59px; height: 44px; font-size: 13px; color: white; }

.gallary-hotel__descr { margin: 30px 0; list-style-type: none; font-size: 14px; color: #787878; }

.gallary-hotel__feedbacks { position: relative; font-size: 14px; color: #787878; }
.gallary-hotel__feedbacks h3 { color: black; }
.gallary-hotel__feedbacks .gallary-hotel__feedback { position: relative; margin-top: 20px; }
.gallary-hotel__feedbacks .hotels__rating { position: absolute; top: 0; right: 0; }
.gallary-hotel__feedbacks .faq__nav { top: 0; right: 0; }
.gallary-hotel__feedbacks article { padding: 16px 0; }

.about { font-size: 16px; color: #787878; }
.about h1 { display: block; height: 59px; line-height: 59px; border-bottom: 1px solid #cecece; font-size: 26px; color: #787878; }

.content-about h2 { margin-top: 14px; line-height: 32px; font-size: 20px; color: #434343; }
.content-about p { margin: 14px 0 0; }

.license ul { margin: 14px 0; list-style-type: none; }
.license li { display: inline-block; margin-left: 2px; width: 174px; height: 241px; border: 1px solid #cecece; }
.license li:first-child { margin-left: 0px; }

.bottom-menu { margin: 40px 0; font-size: 20px; color: #9bc122; }
.bottom-menu ul { list-style-type: none; }
.bottom-menu li { display: inline-block; padding: 0 16px; border-left: 1px solid #d7d7d7; }
.bottom-menu li a { color: #9bc122; }
.bottom-menu li:first-child { border-left: none; padding: 0 16px 0 0; }

.payment { font-size: 16px; color: #787878; }
.payment h1 { display: block; height: 59px; line-height: 59px; font-size: 26px; color: #787878; }
.payment ul { list-style-type: none; }

li.content-payment__item { padding: 30px 0 30px 60px; border-top: 1px dashed #d9d9d9; }
li.content-payment__item:first-child { border-top: none; }
li.content-payment__item h2 { font-size: 20px; color: #414141; }
li.content-payment__item p { margin-top: 10px; font-size: 14px; color: #b2b2b2; }
li.content-payment__item article { margin: 16px 0; font-size: 16px; color: #787878; }

.content-payment__item.payment-card { background: url(../img/credit-card.png) no-repeat 2% 16%; }

.content-payment__item.cash-office { background: url(../img/cash-office.png) no-repeat 2% 16%; }

.content-payment__item.courier { background: url(../img/courier.png) no-repeat 2% 16%; }

.content-payment__item.vtb24 { background: url(../img/vtb24.png) no-repeat 1% 16%; }

.content-payment__item.euroset { background: url(../img/euroset.png) no-repeat 1% 18%; }

.payment_map { padding: 14px 14px 0; }

.payment-map { position: relative; margin: 0 -14px; }

.payment-map__print { position: absolute; left: 0; bottom: 0; width: 100%; height: 40px; background: rgba(0, 0, 0, 0.5); }
.payment-map__print a { display: block; width: 48px; height: 100%; background: url(../img/print.png) no-repeat 50% 50%; }
