.wrapper-slider
	overflow: hidden
.slider
	@extend %block
	color: #787878
	.slider__head
		font-size: 26px
	p
		font-size: 14px
	img
		margin: 16px -14px	22px
.slider__social
	overflow: hidden
	display: inline-block
	width: 288px
	height: 32px
	padding-left: 32px
	line-height: 32px
	vertical-align: top
	background: url(../img/icon5.png) 0 0 no-repeat
	color: #b0afae
	p
		float: left
		margin-right: 10px
	li
		display: inline-block
		padding-top: 6px
.slider__participant
	background: url(../img/icon6.png) 0 0 no-repeat	
.vk, .f, .twitter, .google, .linkedin
	display: block
	width: 16px
	height: 17px
.vk
	background: url(../img/vk.png) no-repeat
.f
	background: url(../img/f.png) no-repeat
.twitter
	background: url(../img/twitter.png) no-repeat
.google
	background: url(../img/google.png) no-repeat
.linkedin
	background: url(../img/linkedin.png) no-repeat





