.wrapper-slider
	overflow: hidden
.slider
	position: relative
	@extend %block
	color: #787878
	.slider__head
		font-size: 26px
	p
		font-size: 14px
	img
		margin: 16px -14px	0
.slider__info
	overflow: hidden
	position: absolute
	right: 0
	bottom: 42px
	width: 525px
	padding: 14px
	background: #ec9214
	color: #fff
	list-style-type: none
	li 
		display: inline-block
		vertical-align: top
	.slider__tour-place
		width: 96px
		padding-left: 32px
		background: url(../img/icon10.png) 15% 15% no-repeat
	.slider__days-left
		width: 112px
	.slider__tour-number
		width: 128px
	.slider__tour-price
		width: 112px
		padding-left: 32px
		line-height: 36px
		font-size: 28px
		background: url(../img/icon11.png) 4% 38% no-repeat
		span
			position: relative
			right: -5px
			font-size: 10px
			border-top: 1px solid #fff
			i	
				position: absolute
				top: -26px
				right: 0		

.slider__social
	overflow: hidden
	display: inline-block
	width: 288px
	height: 32px
	padding-left: 32px
	line-height: 32px
	vertical-align: top
	background: url(../img/icon5.png) 0 0 no-repeat
	color: #b0afae
	p
		float: left
		margin-right: 10px
	li
		display: inline-block
		padding-top: 6px
.slider__participant
	background: url(../img/icon6.png) 0 0 no-repeat	
.vk, .f, .twitter, .google, .linkedin
	display: block
	width: 16px
	height: 17px
.vk
	background: url(../img/vk.png) no-repeat
.f
	background: url(../img/f.png) no-repeat
.twitter
	background: url(../img/twitter.png) no-repeat
.google
	background: url(../img/google.png) no-repeat
.linkedin
	background: url(../img/linkedin.png) no-repeat


.about-propose
	position: relative
	overflow: hidden
	@extend %block
	margin-top: 20px
	border: 1px solid #d7d7d7
	background: #fff
	font-size: 16px	
	color: #787878
	h3
		margin: 0 -14px
		padding-left: 14px
		color: #434343
		line-height: 46px
		border-bottom: 1px solid #d7d7d7
	article
		font-size: 14px
		p	
			margin-top: 20px		
.about-propose__list
	float: left
	width: 496px
	list-style-type: none
	font-size: 16px	
	color: #787878
	.about-propose__item 
		border-top: 1px solid #ececec
		line-height: 46px
		span
			color: #000
		&:first-child
			border-top: none
.tour-components
	list-style-type: none
	li 
		padding-left: 29px
		line-height: 30px
		a
			color: inherit
		i
			border-bottom: 1px dashed #787878
			cursor: pointer
			font-style: normal
	.tour-components__fly
		background: url(../img/icon8.png) 0 50% no-repeat
	.tour-components__living
		background: url(../img/icon7.png) 0 50% no-repeat
	.tour-components__other
		background: url(../img/icon9.png) 0 50% no-repeat				
.about-propose__price
	float: left
	width: 180px
	padding: 14px
	margin-left: 18px
.about-propose__more
	position: absolute
	right: 16px
	bottom: 16px
	color: #99c047


.options
	position: relative
	@extend %block
	width: 242px
	border: 1px solid #cdcdcd
	background: url(../img/options-bg.png)
	.wrapper-option_add
		text-align: right
	.option_add
		border: none
		background: transparent
		color: #9bc122
		border-bottom: 1px dashed #9bc122
		cursor: pointer
.options__item
	position: relative
	padding: 0 14px 0 10px
	height: 30px
	line-height: 30px
	margin-bottom: 16px
	font-size: 16px
	color: #787878
	border: 1px solid #cdcdcd
	background: #fff
	span
		color: #434343
	i
		position: absolute
		right: 8px
		top: 50%
		width: 16px
		height: 16px
		margin-top: -8px
		cursor: pointer
		background: url(../img/arr-down.png) 50% 50% no-repeat
	.options__cancel
		content: ""
		position: absolute
		top: -1px
		right: -32px
		width: 32px
		height: 32px
		background: #cdcdcd url(../img/close.png) 50% 50% no-repeat
		cursor: pointer
.options__price
	overflow: hidden
	margin: 10px 0 20px		
.options__text, .options__figure
	width: 50%
	float: left
	p
		font-size: 14px
		color: #787878
		&:first-child
			margin-top: 10px
			font-size: 28px
			color: #434343
.options__figure
	text-align: right
	p:first-child
		font-size: 27px
		color: #ec9214
		span
			font-size: 14px
.wrapper-order-btn
	text-align: right			
.order-btn
	height: 40px
	line-height 40px
	padding: 0 16px 0 32px
	border: none
	background: #ec9214 url(../img/arr-right.png) 5% 50% no-repeat
	font-size: 20px
	cursor: pointer
	color: #fff			
.options__want-same
	position: absolute
	left: -1px
	bottom: -61px
	width: 208px
	height: 60px
	line-height: 60px
	padding-left: 64px
	background: #9bc122 url(../img/star.png) 8% 48% no-repeat
	font-size: 18px
	text-decoration: none
	color: #fff 

.options-popup
	display: none
	position: absolute
	top: -1px
	left: -1px
	width: 242px
	@extend %block
	border: 1px solid #cdcdcd
	background: url(../img/options-bg.png)
	@include box-shadow(0 5px 10px rgba(0,0,0,.1))
	h3
		display: inline-block
		border-bottom: 1px dashed #cdcdcd
		cursor: pointer
	p	
		font-size: 14px
		color: #787878
	.options-popup__close
		position: absolute
		top: 21px
		right: 14px
		width: 11px
		height: 10px
		border: none
		background: url(../img/close2.png) no-repeat
		cursor: pointer
	textarea
		width: 230px
		max-width: 230px
		height: 108px
		max-height: 108px
		margin-top: 14px
		padding: 5px
		border: 1px solid #d7d7d7
		font-size: 18px
		color: #b1b1b1
		outline: none
	input[type=text]
		width: 204px
		padding: 0 5px 0 31px
		line-height: 28px
		margin-top: 14px
		font-size: 18px
		color: #b1b1b1
		border: 1px solid #d7d7d7
		outline: none
.options-popup__submit
	text-align: right
	input[type=submit]
		height: 40px
		line-height: 40px
		padding: 0 16px 0 40px
		margin-top: 14px
		border: none
		font-size: 20px
		color: #fff
		background: #ec9214 url(../img/arr-right.png) 18px 50% no-repeat
		cursor: pointer
	.options-popup__popup
		position: absolute
		left: 16px
		bottom: -10px
		width: 0
		height: 0
		border-style: solid
		border-width: 10px 16px 0 16px
		border-color: #e6e6e6 transparent transparent transparent
.options-popup__name
	background: #fff url(../img/name.png) 6px 50% no-repeat
.options-popup__email
	background: #fff url(../img/email.png) 6px 50% no-repeat
.options-popup__phone
	background: #fff url(../img/phone.png) 6px 50% no-repeat		
.about-propose_faq
	overflow: visible
.faq
	padding: 14px 0
.order-btn_faq
	font-size: 14px
.faq__nav
	position: absolute
	right: 15px
	top: 75px
	text-align: right
	.faq__sep
		height: 28px
		border-right: 1px solid #d8d8d8
		box-shadow: 1px 0 0 white
		display: inline-block
		vertical-align: middle
	.faq__prev, .faq__next
		background: url(../img/arr-left.png) no-repeat 0 0
		width: 20px
		height: 17px
		display: inline-block
		vertical-align: middle
		margin: 0 4px
		cursor: pointer	
	.faq__next
		background: url(../img/arr-right.png) no-repeat 0 0	
.faq__question, .faq__answer
	margin: 20px 0
	span:first-child
		color: #000
.faq__answer span:first-child
	color: #ec9214
.faq-popup
	display: none
	position: absolute
	top: 75px
	left: 14px
	width: 628px
	@extend %block
	border: 1px solid #cdcdcd
	background: url(../img/options-bg.png)
	h3
		font-size: 18px
	form
		overflow: hidden	
	textarea
		float: left
		width: 358px
		max-width: 358px
		height: 63px
		max-height: 63px
		margin: 14px 16px 0 0
		padding: 5px
		border: 1px solid #d7d7d7
		font-size: 18px
		color: #b1b1b1
		outline: none
	.faq-popup__input
		float: left
		width: 242px
		input[type=text]
			width: 204px
			padding: 0 5px 0 31px
			line-height: 28px
			margin-top: 14px
			font-size: 18px
			color: #b1b1b1
			border: 1px solid #d7d7d7
			outline: none	
.faq-popup__close
	position: absolute
	top: 21px
	right: 14px
	width: 11px
	height: 10px
	border: none
	background: url(../img/close2.png) no-repeat
	cursor: pointer
.faq-popup__submit
	text-align: right
	input
		height: 32px
		line-height: 32px
		padding: 0 16px
		margin-top: 16px
		border: none
		font-size: 14px
		color: #fff
		background: #9bc122
		cursor: pointer

