.special-deals
	padding: 14px 
	font-family: "PF Din Text Cond Pro",sans-serif 
	h2
		font-size: 26px 
		font-weight: normal
		color: #787878
		text-shadow: 1px 1px 0 #fff
		margin-bottom: 28px
.differ
	border-top: 1px solid #CECECE 
	border-bottom: 1px solid #CECECE
	margin-bottom: 30px  
	margin: 0 -14px 30px -14px
	padding: 20px 14px  0 14px 
	dt
		color: #ec9214
		font-size: 20px  
		margin-bottom: 10px 
	dd
		display: inline-block
		width: 45%
		margin-right: 2% 
		vertical-align: top
		font-size: 14px 
		color: #787878
		line-height: 1.4  
		position: relative
		margin-bottom: 17px 
		font-size: 13px 
		a
			color: #9bc122 
	.differ__content
		padding-left: 66px 
	.differ__icon
		position: absolute
		left: 4px 
		top: 5px 
		width: 72px 
		height: 57px 
		&.differ__icon_1
			background: image-url('icon1.png') no-repeat 0 0 
		&.differ__icon_2
			background: image-url('icon2.png') no-repeat 0 0 
		&.differ__icon_3
			background: image-url('icon3.png') no-repeat 0 0 
		&.differ__icon_4
			background: image-url('icon4.png') no-repeat 0 0 
.banner
	background: #fff 
	position: relative
	margin: 0 -14px 30px -14px 
	padding: 12px 12px 12px 97px 
	overflow: hidden
	border-top: 1px solid #CECECE 
	border-bottom: 1px solid #CECECE 
	.banner__icon
		position: absolute
		top: 0
		bottom: 0
		background: #99C047   
		left: 0
		width: 80px  
		&:before
			position: absolute
			content: ' '
			left: 24px 
			top: 24px 
			width: 32px 
			height: 32px 
			background:  image-url('thumbsup.png') no-repeat 0 0 
	.banner__icon_divan
		&:before
			width: 48px 
			height: 24px 
			left: 17px 
			background:  image-url('divan.png') no-repeat 0 0 
	.banner__text
		font-size: 20px 
		color: #787878
		line-height: 1.4
		margin-bottom: 17px 
	.banner__more
		background: #EF9037
		padding: 7px  16px
		font-size: 14px 

		float: right
		white-space: nowrap
		line-height: 1 
		color: #fff 
		a
			color: #FFF 



